# Python caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
venv/
.venv/
ENV/
env/

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Installer logs
pip-wheel-metadata/

# Compiled C extensions
*.so
